@import "styles.css";
:root {
  --color-primario: #01111F;
  --color-secundario: #77ABD9;
  --color-terciario: #A64195;
  --color-fondo: #4D637A;
  --color-texto1: #F2F2F2;
  --color-texto2: black;
  --titulo-oscuro:#f2f2f2;
}
