@font-face  {
    font-family: Poppins;
    src: url(fuentes/Poppins-Regular.ttf) format('truetype');
  }

*{
    font-family: Poppins;
}
body{
    margin: 0px;
    background-color: #D8F2F2;
}
/* HEADER GENERAL */
header{
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    background-color: #103240;
    width: 100%;
    z-index: 1;
}

.imagenHeader{
    width: 60px;
    height: 60px;
}

.cabezeraizquierda{
    display: flex;
    justify-content: left;
    align-items: center;
}
.cabezeraizquierda>h1{
    color: white;
    font-size: 20px;
    font-weight:500;
}
.cabezeraderecha{
    display: flex;
    justify-content: right;
    align-items: center;   
}

.cabezeraderecha>.subirtrabajo{
    background-color: #A64195;
    padding: 0.3em;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}
/* FIN HEADER GENERAL */



/*FOOTER GENERAL*/
footer{
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content: space-around; /* Espacio entre elementos */
    align-items: center;
    background-color: #103240;
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 0.5em;
}

footer>a>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7px;
   
}
footer>a{
    margin-top: 0px;
    color: #77ABD9;
    margin-bottom: 3px;
    text-decoration: none;
}
footer>a>div>p{
    margin-top:0px;
    margin-bottom:0px;
}
/*FIN FOOTER GENERAL*/
/*PAGINA INDEX*/
.main {
    padding-top: 60px; /* Margen superior para dejar espacio para el header */
    
  }

  .main>h3{
    font-size: 27px;
    margin-bottom: 3px;
    margin-left: 10px;
  }

.ParaTi,.MasVistos,.AnadidosReciente,.Grados{
    
    display: flex; /* Mostrar los grupos de imágenes en línea horizontalmente */
    justify-content: space-between; /* Espaciado uniforme entre los grupos de imágenes */
    padding-left: 0.5em;
    padding-right: 0.5em;
    
}
.Trabajo,.Grado  {
    background-color:#103240;
   display:grid;
   width:auto;
   height: auto;
   padding: 0.8em;
   border-radius: 20px;
   margin: 0.5em;
   justify-items: center;
}
.Trabajo >h3{
    margin-top: 0px;
    margin-bottom: 3px;
    color: #F2F2F2;
}
.portadaTrabajo{
    width: 100px;
    height:auto;
 }
.autorTrabajo{
    position: absolute;
    top: 85px;
    right: 79px;
    width: 30px; /* Ancho de la imagen superpuesta */
    height: auto; /* Altura automática para mantener la proporción */
    /* Asegúrate de que la imagen superpuesta esté sobre la imagen base */
}
.Grado  {
    background-color:#103240;
   display:grid;
   width:auto;
   height: auto;
   padding: 0.4em;
   border-radius: 20px;
   margin: 0.5em;
   justify-items: center;
}

.Grado>img{
    width: 60px;
    height:auto;
    
}
.Grado>h3{
    text-align: center;
    font-size: 15px;
    width: 140px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: #F2F2F2;
}


.contenedor {
    position: relative;
  }
  

  
  .imagen-superpuesta {
    
  }
/*FIN PAGINA INDEX*/


/*PARA LOGIN.HTML Y REGISTRO.HTML*/

.img-login {
    display: block;
    max-width: 50%;
    margin: auto;
    margin-top: 8em;
}

.img-reg {
    display: block;
    max-width: 50%;
    margin: auto;
    margin-top: 4em;
}

.formulario {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}

.cuadro-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario div{
  margin: 10px 0px;
}

.formulario input {
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.formulario select {
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.formulario button {
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    background-color: #A64195;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 1000;
}

.recuperar {
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    > a {
        color: #A64195;
        font-weight: 800;
    }
}

#cuadrado {
    background-color: #103240;
    border-radius: 10px;
    padding: 5% 0%;
    max-width: 80%;
    display: block;
    margin: auto;
}

/*PARA SUBIR NUEVO TRABAJO*/

.nuevo-trabajo {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    font-size: 16px;
}

.nuevo-trabajo label {
    font-weight: bold;
}

.nuevo-trabajo div{
  margin: 10px 40px;
}

.nuevo-trabajo input {
    border: none;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    font-size: 15px;
    background-color: #77ABD9;
}

.nuevo-trabajo textarea {
    border: none;
    display: block;
    width: 100%;
    border-radius: 10px;
    background-color: #77ABD9;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.nuevo-trabajo button {
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #A64195;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: 1000;
}

.subir-trabajo {
    display: block;
    padding: 0 5%;
}

#cuadro-nuevo {
    display: flex;
    align-items: center;
    justify-content: center;
}