:root {
  --color-primario: #103240;
  --color-secundario: #77ABD9;
  --color-terciario: #A64195;
  --color-fondo: #D8F2F2;
  --color-texto1: #F2F2F2;
  --color-texto2: black;
  --titulo-oscuro:black;
}

@font-face  {
    font-family: Poppins;
    src: url(fuentes/Poppins-Regular.ttf) format('truetype');
  }

*{
    font-family: Poppins;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color:var(--color-fondo)
    
}

::placeholder {
    color: var(--color-texto2);
}
a{
    text-decoration: none;
}

#navlow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
/* HEADER GENERAL */
header{
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    background-color:var(--color-primario);
    width: 100%;
    z-index: 1;
    padding: .5em;
    /* position: fixed; */ /* Si el header esta fixed hay elementos que se quedan detras de el */
}

.imagenHeader{
    width: 60px;
    height: 60px;
}

.cabezeraizquierda{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-right: 0.5em;
}
.cabezeraizquierda>h1{
    color: var(--color-texto1);
    font-size: 20px;
    font-weight:500;
}
.cabezeraderecha{
    display: flex;
    justify-content: right;
    align-items: center;   
}

.cabezeraderecha>.subirtrabajo{
    cursor: pointer;
    margin-right: 1em;
    background-color: var(--color-terciario);
    padding: 0.3em;
    text-align: center;
    color: var(--color-texto1);
    border-radius: 20px;
}
/* FIN HEADER GENERAL */



/*FOOTER GENERAL*/
footer{
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content: space-around; /* Espacio entre elementos */
    align-items: center;
    background-color: var(--color-primario);
    width: 100%;
   position: fixed;
    bottom: 0;
    padding: 0.5em;
   
}

footer>div>a>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7px;
   
}
footer>div>a{
    margin-top: 0px;
    color: var(--color-secundario);
    margin-bottom: 3px;
    text-decoration: none;
}
footer>div>a>div>p{
    margin-top:0px;
    margin-bottom:0px;
}
/*FIN FOOTER GENERAL*/
/*PAGINA INDEX*/

  .main>h3{
    font-size: 27px;
    margin-bottom: 3px;
    margin-left: 10px;
    color: var(--titulo-oscuro);
}
  

.ParaTi,.MasVistos,.AnadidosReciente,.Grados,.Masteres{
    
    display: flex; /* Mostrar los grupos de imágenes en línea horizontalmente */
    justify-content: space-between; /* Espaciado uniforme entre los grupos de imágenes */
    padding-left: 0.5em;
    padding-right: 0.5em;
    
}
.Usuarios {
  display: flex; /* Utilizamos flexbox para alinear y distribuir los elementos */
  justify-content: center; /* Centra los elementos horizontalmente */
 
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 5em;
}
.botonesCarruselUsuario{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.botonesCarruselUsuario> button{
    margin: 0.8em;
    border: none;
    background-color: var(--color-terciario);
    padding: 0.8em;
    border-radius: 20px;
    font-size: 20px;
    color: var(--color-texto1);
    font-weight:700;
}

.botonesCarrusel{
  
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7em;
    
    
}
.botonesCarrusel> button{
    margin: 0.8em;
    border: none;
    background-color: var(--color-terciario);
    padding: 0.8em;
    border-radius: 20px;
    font-size: 20px;
    color: var(--color-texto1);
    font-weight:700;
}
.idiomas{
  margin-bottom: 5em;
}
.Trabajo{
   background-color:var(--color-primario);
   display:grid;
   width: 110px;
   height: 160px;
   padding: 0.8em;
   border-radius: 20px;
   margin: 0.5em;
   justify-items: center;
}
.Grado  {
   background-color:var(--color-primario);
   display:grid;
   width: auto;
   height: auto;
   padding: 1em;
   border-radius: 20px;
   margin: 0.5em;
   justify-items: center;
}


.Trabajo > a > h3 {
    margin-top: 0;
    margin-bottom: 3px;
    color: var(--color-texto1);
    text-overflow: ellipsis;
    white-space:  nowrap;
    overflow: hidden;
    width: 80px;
}

.Trabajo >a>h3{
    margin-top: 0px;
    margin-bottom: 3px;
    color: var(--color-texto1);
    text-overflow: ellipsis;
}
.Trabajo >h3{
    color: var(--color-texto1);
}
.portadaTrabajo2{
    width: 200px;
    height: auto;
    border-radius: 20px;
 }
 .portadaTrabajo{
    width: 80px;
    height: 90px;
    border-radius: 20px
 }
.autorTrabajo{
    position: absolute;
    top: 85px;
    right: 65px;
    width: 30px; /* Ancho de la imagen superpuesta */
    height: 30px;
    border-radius: 50px; /* Altura automática para mantener la proporción */
    /* Asegúrate de que la imagen superpuesta esté sobre la imagen base */
}

.borrarLista{
    border-radius: 40px;
    position: absolute;
    top: 84px;
    left: 67px;
    width: 30px; /* Ancho de la imagen superpuesta */
    height: auto; /* Altura automática para mantener la proporción */
    /* Asegúrate de que la imagen superpuesta esté sobre la imagen base */
}

.Grado>a{
  display:grid;
  justify-items: center;
}

.Grado>img{
    width: 60px;
    height:auto;
    
}
.Grado>a>h3{
    text-align: center;
    font-size: 15px;
    width: 140px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: var(--color-texto1);
}
.Usuario {
  display: flex; /* Utilizamos flexbox para alinear los elementos internos */
  flex-direction: column; /* Alinear los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente dentro de cada artículo */
  text-align: center; /* Centra el texto horizontalmente */
  width: 200px; /* Ancho fijo de cada artículo */
  background-color: transparent;
  border-radius: 60px;
  gap: 10px; /* Reducimos el espacio entre los elementos */
}
.Usuario>img{

  width: 100px;
  height:auto;

}
.Usuario>a>h3{
  text-align: center;
  font-size: 20px;
  width: 140px;
  margin-bottom: 3px;
  margin-top: 3px;
  color: var(--color-texto2);
  
}


.contenedor {
    position: relative;
  }
  

  
 
/*FIN PAGINA INDEX*/

/*PARA PERFIL.HTML*/
.perfil_usuario{
    display: grid;
    justify-items: center;
}
.perfil_usuario>img{
    width: 110px;
    height: 110px;
    padding: 0.8em;
    border-radius: 20px;
}
.datos_perfil_usuario{
    margin-top: 11px;
    background-color: var(--color-primario);
    padding: 0.8em;
    border-radius: 10px;
    display: grid;
    align-items: center;
    height: 150px;

   
}
.datos_perfil_usuario>article>span {
    margin-right: 70px; /* Espacio entre los spans */
    color: var(--color-texto1);
}

.datos_perfil_usuario article span.dato {
    margin-left: 20px; /* Empuja el span.dato hacia la derecha */
    margin-right: 0px;
    display: block;
}
.datos_perfil_usuario>article{
    display: flex;
    justify-content: space-between;
}

.profilePicture {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}







.Editar_Perfil{
  margin-top: 0.8em;
  text-align: center;
  color: var(--color-texto1);
  background-color: var(--color-terciario);
  border-radius: 20px ;
  width: 50%;
 margin-left: 25%;
}
.Editar_Imagen{
  text-align: center;
  color: var(--color-texto1);
  background-color: var(--color-terciario);
  border-radius: 20px ;
  padding: 0.2em;
  margin-bottom: 0.8em;
}
.Estilo{
  cursor: pointer;
  margin-right: 1em;
  border: none;
  background-color: var(--color-terciario);
  color: var(--color-texto1);
  display: flex;
  padding: 0.5em;
  border-radius: 100%;
}

/*PARA LOGIN.HTML Y REGISTRO.HTML*/

.img-login {
    display: block;
    max-width: 50%;
    margin: auto;
    margin-top: 8em;
}

.img-reg {
    display: block;
    max-width: 50%;
    margin: auto;
    margin-top: 4em;
}

.formulario {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}

.cuadro-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario div{
  margin: 10px 0px;
}

.formulario p{
    text-align: center;
}

.formulario label{
    color: var(--color-texto1);
    font-size: 18px;
}

.cuadro-comment{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primario);
    border-radius: 20px;
    padding: 1em;
    width: fit-content;
}

.vercoments {
    margin-bottom: 20px;
    width: 100%;
}

.formulario input {
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.formulario select {
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.formulario button {
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    background-color: var(--color-terciario);
    color: var(--color-texto1);
    border: none;
    font-size: 18px;
    font-weight: 1000;
}

.recuperar {
    text-align: center;
    font-size: 15px;
    color: var(--color-texto1);
   
}
.recuperar> a {
  color: var(--color-terciario);
  font-weight: 800;
}

#cuadrado {
    background-color: var(--color-primario);
    border-radius: 10px;
    padding: 5% 0%;
    max-width: 80%;
    display: block;
    margin: auto;
}

#cuadrado > div > button:hover{
  cursor: pointer;
}

.cuadritoError{
  display: flex;
  justify-content: center
}

.cuadritoError > p {
  color: var(--color-texto1);
  font-weight: bold;
}

/*PARA SUBIR NUEVO TRABAJO*/

.nuevo-trabajo {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    font-size: 16px;
}

.nuevo-trabajo label {
    font-weight: bold;
}

.nuevo-trabajo div{
  margin: 10px 40px;
}

.nuevo-trabajo input {
    border: none;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    font-size: 15px;
    background-color: var(--color-secundario);
}

.nuevo-trabajo textarea {
    border: none;
    display: block;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-secundario);
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.nuevo-trabajo button {
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--color-terciario);
    color: var(--color-texto1);
    border: none;
    font-size: 18px;
    font-weight: 1000;
}

.btnComment {
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--color-terciario);
    color: var(--color-texto1);
    border: none;
    font-size: 18px;
    font-weight: 1000;
}

.subir-trabajo {
    display: block;
    padding: 0 5%;
}

#cuadro-nuevo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.inicio {
  display: grid;
  gap: 1%;
  justify-content: center;
  place-items:  center;
  grid-template-columns: repeat(2, 1fr);
}

/* FORMULARIO DE BUSCAR.HTML */



.formulario-busq {
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

.formulario-busq div{
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-busq div label{
  font-weight: bold;
  
}

.formulario-busq input {
    color: var(--color-texto2);
    background-color: var(--color-secundario);
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.formulario-busq select {
    background-color: var(--color-secundario);
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

#buscar {
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    background-color: var(--color-terciario);
    color: var(--color-texto1);
    border: none;
    font-size: 18px;
    font-weight: 1000;
}

/*SECCION DE RESPUESTA DE BUSQUEDA*/
.respuestaBusqueda{
  display: grid;
    gap: 1%;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top:0px;
    margin-bottom: 5em;
}

#descargar, #addToList {
  border-radius: 20px;
  background-color: var(--color-terciario);
  cursor: pointer;
  color: var(--color-texto1);
  padding: 0.4em;
}

/* PARA VER TRABAJO */

.infotrabajo {
  display: block;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: var(--color-primario);
  border-radius: 20px;
  margin: auto;
  padding: 1em;
  width: fit-content;

}

.infotrabajo > div {
  display: grid;
  justify-items: center;
}

.infotrabajo > div > p{
  color: var(--color-texto1);
  margin-bottom: 0em;
  margin-top: .5em;
}

.infotrabajo > div > div {
  display: flex;
}

.infotrabajo > div > div > p {
  padding: 0em;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #A64195;
  border-radius: 20px;
  color: #FFFFFF;
}



.tituloyfecha {
  display: grid;
  justify-content: center;
  align-items: center;
}
.tituloyfecha>h1{
  color:var(--titulo-oscuro);
}

.registrate {
    color: #A64195;
}

hr {
    margin-top: 30px;
    border-color: black;
}

#coments{
  margin-bottom: 6em;
}

section {
  margin-top: 30px;
}

section > article {
  background-color: #77ABD9;
  width: 100%;
  border-radius: 20px;
}

section > article > p {
  text-align: justify;
  padding: .5em;
}

section > article > div > p {
  text-align: justify;
  padding-left: 1em;
  padding-bottom: .5em;
  padding-top: .5em;
}

.comentario{
  font-size: 20px;
  display: block;
  font-weight: 600;
  justify-content: left;
  padding: 0em;
}

.comentario2{
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-overflow: ellipsis;
  white-space:  nowrap;
  overflow: hidden;
  margin-top: 0;
}

.comentario p, .comentario2 p {
  margin: 0; /* Eliminar márgenes de los párrafos */
  padding-left: 1em; /* Eliminar relleno de los párrafos */
}

.cuadrotrabajo{
    margin: 1em;
}

.cuadrotrabajo>h2{
  color: var(--titulo-oscuro);
}


#fileInput {
    display: none;
}



/* FIN VER TRABAJO */

.cerrarses {
    margin-top: 10px;
    border: none;
    background-color: var(--color-terciario);
    padding: 0.3em;
    text-decoration: none;
    color: var(--color-texto1);
    border-radius: 20px;
}

@media (min-width: 767px) {
  .cabezeraizquierda {
    flex-direction: row;
    margin-right: 1em;
  }
  .cabezeraizquierda>h1 {

    margin-left: 1em;
  }
  .cabezeraderecha{
    margin-right: 1em;
  }
}

@media (min-width: 1023px) {
  /* Agrega tus reglas para resoluciones mayores a 1023px aquí */
}
