:root {
  --color-primario: #103240;
  --color-secundario: #77ABD9;
  --color-terciario: #A64195;
  --color-fondo: #D8F2F2;
  --color-texto1: #F2F2F2;
  --color-texto2: black;
}

@font-face  {
    font-family: Poppins;
    src: url(fuentes/Poppins-Regular.ttf) format('truetype');
  }

*{
    font-family: Poppins;
}
body{
    margin: 0px;
    background-color:var(--color-fondo)
}

::placeholder {
    color: var(--color-texto2);
}
/* HEADER GENERAL */
header{
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    background-color:var(--color-primario);
    width: 100%;
    z-index: 1;
    padding: .5em;
}

.imagenHeader{
    width: 60px;
    height: 60px;
}

.cabezeraizquierda{
    display: flex;
    justify-content: left;
    align-items: center;
}
.cabezeraizquierda>h1{
    color: var(--color-texto1);
    font-size: 20px;
    font-weight:500;
}
.cabezeraderecha{
    display: flex;
    justify-content: right;
    align-items: center;   
}

.cabezeraderecha>.subirtrabajo{
    background-color: var(--color-terciario);
    padding: 0.3em;
    text-decoration: none;
    color: var(--color-texto1);
    border-radius: 20px;
}
/* FIN HEADER GENERAL */



/*FOOTER GENERAL*/
footer{
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content: space-around; /* Espacio entre elementos */
    align-items: center;
    background-color: var(--color-primario);
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0.5em;
   
}

footer>a>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7px;
   
}
footer>a{
    margin-top: 0px;
    color: var(--color-secundario);
    margin-bottom: 3px;
    text-decoration: none;
}
footer>a>div>p{
    margin-top:0px;
    margin-bottom:0px;
}
/*FIN FOOTER GENERAL*/
/*PAGINA INDEX*/
.main {
    padding-top: 15px; /* Margen superior para dejar espacio para el header */
    
  }

  .main>h3{
    font-size: 27px;
    margin-bottom: 3px;
    margin-left: 10px;
  }

.ParaTi,.MasVistos,.AnadidosReciente,.Grados,.Masteres{
    
    display: flex; /* Mostrar los grupos de imágenes en línea horizontalmente */
    justify-content: space-between; /* Espaciado uniforme entre los grupos de imágenes */
    padding-left: 0.5em;
    padding-right: 0.5em;
    
}
.Usuarios {
  display: flex; /* Utilizamos flexbox para alinear y distribuir los elementos */
  justify-content: center; /* Centra los elementos horizontalmente */
 
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 5em;
}


.Trabajo,.Grado  {
    background-color:var(--color-primario);
   display:grid;
   width:auto;
   height: auto;
   padding: 0.8em;
   border-radius: 20px;
   margin: 0.5em;
   justify-items: center;
}
.Trabajo >h3{
    margin-top: 0px;
    margin-bottom: 3px;
    color: var(--color-texto1);
}
.portadaTrabajo{
    width: 100px;
    height:auto;
 }
.autorTrabajo{
    position: absolute;
    top: 85px;
    right: 79px;
    width: 30px; /* Ancho de la imagen superpuesta */
    height: auto; /* Altura automática para mantener la proporción */
    /* Asegúrate de que la imagen superpuesta esté sobre la imagen base */
}

.borrarLista{
    border-radius: 40px;
    position: absolute;
    top: 85px;
    left: 79px;
    width: 30px; /* Ancho de la imagen superpuesta */
    height: auto; /* Altura automática para mantener la proporción */
    /* Asegúrate de que la imagen superpuesta esté sobre la imagen base */
}



.Grado>img{
    width: 60px;
    height:auto;
    
}
.Grado>h3{
    text-align: center;
    font-size: 15px;
    width: 140px;
    margin-bottom: 3px;
    margin-top: 3px;
    color: var(--color-texto1);
}
.Usuario {
  display: flex; /* Utilizamos flexbox para alinear los elementos internos */
  flex-direction: column; /* Alinear los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente dentro de cada artículo */
  text-align: center; /* Centra el texto horizontalmente */
  width: 200px; /* Ancho fijo de cada artículo */
 
  border-radius: 60px;
  gap: 10px; /* Reducimos el espacio entre los elementos */
}
.Usuario>img{

  width: 100px;
  height:auto;

}
.Usuario>h3{
  text-align: center;
  font-size: 15px;
  width: 140px;
  margin-bottom: 3px;
  margin-top: 3px;
  color: var(--color-texto2);
}


.contenedor {
    position: relative;
  }
  

  
 
/*FIN PAGINA INDEX*/


/*PARA LOGIN.HTML Y REGISTRO.HTML*/

.img-login {
    display: block;
    max-width: 50%;
    margin: auto;
    margin-top: 8em;
}

.img-reg {
    display: block;
    max-width: 50%;
    margin: auto;
    margin-top: 4em;
}

.formulario {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}

.cuadro-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario div{
  margin: 10px 0px;
}

.formulario input {
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.formulario select {
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.formulario button {
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    background-color: var(--color-terciario);
    color: var(--color-texto1);
    border: none;
    font-size: 18px;
    font-weight: 1000;
}

.recuperar {
    text-align: center;
    font-size: 15px;
    color: var(--color-texto1);
   
}
.recuperar> a {
  color: var(--color-terciario);
  font-weight: 800;
}

#cuadrado {
    background-color: var(--color-primario);
    border-radius: 10px;
    padding: 5% 0%;
    max-width: 80%;
    display: block;
    margin: auto;
}

/*PARA SUBIR NUEVO TRABAJO*/

.nuevo-trabajo {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    font-size: 16px;
}

.nuevo-trabajo label {
    font-weight: bold;
}

.nuevo-trabajo div{
  margin: 10px 40px;
}

.nuevo-trabajo input {
    border: none;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    font-size: 15px;
    background-color: var(--color-secundario);
}

.nuevo-trabajo textarea {
    border: none;
    display: block;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-secundario);
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.nuevo-trabajo button {
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--color-terciario);
    color: var(--color-texto1);
    border: none;
    font-size: 18px;
    font-weight: 1000;
}

.subir-trabajo {
    display: block;
    padding: 0 5%;
}

#cuadro-nuevo {
    display: flex;
    align-items: center;
    justify-content: center;
}


.inicio {
  display: grid;
  gap: 1%;
  justify-content: center;
  place-items:  center;
  grid-template-columns: repeat(2, 1fr);
}

/* FORMULARIO DE BUSCAR.HTML */



.formulario-busq {
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

.formulario-busq div{
  margin: 10px 0px;
}

.formulario-busq input {
    color: var(--color-texto2);
    background-color: var(--color-secundario);
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.formulario-busq select {
    background-color: var(--color-secundario);
    border: none;
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    height: 30px;
    font-size: 15px;
}

#buscar {
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 30px;
    background-color: var(--color-terciario);
    color: var(--color-texto1);
    border: none;
    font-size: 18px;
    font-weight: 1000;
}